
.res{
	border: 2px solid #FFD700;
	border-radius: 15px;
	width: 300px;
	}
.st{
	border: 2px solid #FFD700;
	width: 180px;
}
.age{
	border: 2px solid #FFD700;
	width: 170px;
}
.coment{
	border: 2px solid #FFD700;
	width: 225px;
}
